{% from "helpers.jinja" import safe_docstring %}

{{ safe_docstring(package_description) }}
from .client import AuthenticatedClient, Client
from .pagination import PaginatedEndpoint, PaginationConfig, paginate

__all__ = (
    "AuthenticatedClient",
    "Client",
    "PaginatedEndpoint",
    "PaginationConfig",
    "paginate",
)